<head>
<style>
body {
  max-width: 950px;
  margin: 20px auto;
  padding: 0 15px;
  font-size: 22px;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #2874A6;
}
a:hover {
  text-decoration: underline;
}
</style>
</head>

<body>
  <h1>Experiment Results</h1>

  <hr>

  <img src="controlplane.svg"></hr>
  <img src="dataload_time.svg"><hr>
  <img src="dataload_percentile.svg"><hr>
  <img src="sidecar.svg"><hr>
  <img src="gateway.svg"><hr>
  <img src="howmanypilots.svg"><hr>
  <img src="nodemon.svg"><hr>
  <img src="resources.svg"><hr>
  <img src="ifstats.svg"><hr>

  <h3>Individual Results</h3>

  <ul>
  {% for t in tests %}
    <li><a href={{t}}>{{t}}</a></li>
  {% endfor %}
  </ul>

  <h3>Raw Data for Download</h3>

  <ul>
  {% for f in files %}
    <li><a href={{f}}>{{f}}</a></li>
  {% endfor %}
  </ul>
</body>
