<head>
<style>
body {
  max-width: 950px;
  margin: 20px auto;
  padding: 0 15px;
  font-size: 22px;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #2874A6;
}
a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}
</style>
</head>

<body>
  <h1>Experiment Results</h1>

  <p>{{ success }} of {{ total }} users completed their tasks in {{ total_time }} seconds.</p>

  <p>Achieved a control-plane goodput qps of {{ cp_cps }}.</p>

  <p>Variables used for this test run:</p>
  <pre>{{vars}}</pre>

  <hr>

  <h3> Check if we hit our goal of 5sec at 95% for creating new routes </h3>
  <img src="controlplane.png"></hr>
  <img src="convergence.png"></hr>
  <img src="endpoint_arrival.png"></hr>
  <h3> Check if the dataplane latency is around 20ms and in-line with published Istio numbers</h3>
  <img src="dataload.png"><hr>
  <h3> Check that autoscaling is working and that the resource usage isn't crazy</h3>
  <img src="sidecar.png">
  <img src="gateway.png">
  <img src="howmanypilots.png"><hr>
  <h3> Check that our client VM and k8s cluster are big enough</h3>
  <img src="nodemon.png">
  <img src="nodes4pods.png">
  <img src="resources.png">
  <img src="ifstats.png"><hr>

</body>
